*{
    padding: 0%;
    margin: 0%;
    border: none;
    outline: none;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: #444;

}
.top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

}
.img-logo{
    width: 20px;
}
.logo-and-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.left-links{
    display: flex;
    align-items: center;
    gap: 30px;
}
.right-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.show{
    /* margin-left: 100px; */
    visibility: hidden;
    cursor: pointer;
}
div{
    font-size: 18px;

}
@media screen and (max-width:760px){
    .show{
        margin: 0%;
        visibility: visible;
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        font-size: 20px;
        text-transform: capitalize;
        letter-spacing: 1.2px;
    }
    *{
        margin: 0%;
    }
    .about,.Certificates-link, .contact,.donate,.learn-link{
        visibility: hidden;
        display: none;

    }
    .left-links{
        width: fit-content;
    }

}

.display-none{
    display: none;
    /* background-color: red; */
    /* display: flex */
    ;
    /* align-items: center; */
    gap: 20px;
    flex-direction: column;
    padding: 10px;


}
.flex{
    display: flex;
}
.display-none p{
    background-color: #111;
    padding: 10px;
    cursor: pointer;
    opacity: .6;
}
.display-none p:hover{
    opacity: 1;
}
.about,.Certificates-link, .contact,.donate,.learn-link{
    cursor: pointer;
}
.logo-and-text{
    cursor: pointer;
}
body{
    height: 1000px;
}
.buttons{
    background-color:green;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;

}
.buttons div{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

}
.buttons .btn1{
    background-color: red;

}
.btn2{
    background-color: white;
    color: #111;
    transition: all .15s;
    border: 1px solid rgb(21, 98, 222);
}
.btn2:hover{
    background-color: rgb(21, 98, 222) ;

}
.btn3{
    background-color: yellowgreen;
    color: #111;
    
}